<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-maillist">
	<!-- Begin MailChimp Signup Form -->
	<form action="https://vozzel.us9.list-manage.com/subscribe/post?u=38c78d5a3e7a6b31da863c070&amp;id=f5e8c4517e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<label for="mce-EMAIL">Subscribe to my mailing list</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_38c78d5a3e7a6b31da863c070_f5e8c4517e" tabindex="-1" value=""></div>
		<input type="submit" value="Subscribe" class="button">
	</form>
	<!--End mc_embed_signup-->
</div>