input[type=email], input[type=text]
	background transparent
	border 1px dotted
	width 100%
	margin-bottom 0.5rem
	
button, html input[type=button], input[type=reset], input[type=submit]
	background transparent
	border 1px solid
	border-radius 3px